.products {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product button:hover {
    background-color: #218838;
}

.confirmation-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
  
